.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  @media screen and (min-width: 700px) {
    min-height: 80vh;
    padding: 50px;
    flex-direction: row;
    justify-content: space-between;
  }
}