@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --dark: HSL(300, 4%, 9%);
  --mustard: HSL(37, 100%, 63%);
  --pink: hsl(309, 50%, 34%);
  --blue: HSL(213, 58%, 34%);
  --light: HSL(46, 49%, 86%);
}

html {
  font-size: 100%;
  box-sizing: border-box;

}

*, *::before, *::after {
  border: solid 1px red;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

h1, h2, p, a{
  line-height: 1.75;
}

h1 {
  font-size: clamp(1.3rem, 1rem + 10vw, + 2rem);
  letter-spacing: 1px;
}

h2 {
  color: var(--mustard);
  font-size: 1.3rem;
}

li {
  list-style-type: none;
}

a, a:visited, a:active {
  text-decoration: none;
}

body {
  margin-inline: auto;
  font-family: 'Poppins', sans-serif;
  color: var(--light);
}

.container {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--pink);
}

/* ASIDE  */
aside {
  position: sticky;
  padding: 30px;
  max-width: 30%;
  min-height: 100vh;
  top: 0;
  left: 0;
  height: 100vh;
  color: var(--dark);
  background: var(--mustard);
}


aside .avatar {
  width: 30%;  
  border-radius: 30%;
}


aside .about, aside .contacts, aside .skills {
  margin-bottom: 20px;
  padding: 10px;
}


aside h2 {
  color: var(--dark);
  border-bottom: solid 1px var(--dark);
}


aside .contacts li {
  margin: 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

aside img {
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .email, aside .phone {
  width: 100%;
  max-width: 25px;
  margin-right: 10px;
}

aside .github {
  color: var(--pink);
}

aside .skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

aside .skills li {
  padding: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  border: solid 1px var(--dark);
  justify-content: space-evenly;
}

/* MAIN  */
main {
  float: right;
  padding: 40px;
  min-height: 100vh;
  width: 70%;
  background-color: var(--dark);
}

main .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  margin-inline: auto;
  margin-bottom: 200px;


}

main img {
  width: 100%;
  border-radius: 10px; 
  box-shadow: 0 8px 14px -4px rgba(20, 19, 19, 0.75);
}

main h2 {
  margin-top: 20px;
}

main .links {
  display: flex;
  width: 320px;
  margin-inline: auto;
  justify-content: space-between;
}

main .links a {
  padding: 7px 20px;
  border-radius: 8px;
  background: var(--dark);
  color: var(--mustard);
  border: solid 1px var(--mustard);
}

main .links a:hover {
  background-color: var(--mustard);
  color: var(--dark);
  border: solid 1px var(--mustard);
  transition: 0.3 ease-in;
}

main .projects p {
  margin-bottom: 15px;
}

.hamburger {
  width: 40px;
}

.mobile-menu {
  width: 100vw;
  background: var(--mustard);
  display: none;
}

.close-btn {
  display: none;
  width: 30px;
  margin-bottom: 30px;
}

/* @media screen and (max-width: 1000px) {
  .mobile-menu {
    display: flex;
  }
  .aside {
    display: none;
  }
  .main {
    width: 100vw;
  }
  
}

@media screen and (min-width: 1000px) {
 
  .aside {
    display: block;
    
    width: 30%;
  }
  .main {
    width: 70%;
  }
  
} */