@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --dark: HSL(300, 4%, 9%);
  --mustard: HSL(37, 100%, 63%);
  --pink: hsl(309, 50%, 34%);
  --blue: HSL(213, 58%, 34%);
  --light: HSL(46, 49%, 86%);
}

html {
  font-size: 100%;
  box-sizing: border-box;

}

*, *::before, *::after {
  /* border: solid 1px red; */
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

h1, h2, p, a{
  line-height: 1.75;
}

h1 {
  font-size: clamp(1.3rem, 1rem + 10vw, + 2rem);
  letter-spacing: 1px;
}

h2 {
  color: var(--mustard);
  font-size: 1.3rem;
}

li {
  list-style-type: none;
}

a, a:visited, a:active {
  text-decoration: none;
}

body {
  margin-inline: auto;
  font-family: 'Poppins', sans-serif;
  color: var(--light);
}

.container {
  display: flex;
  justify-content: space-between;
}

aside {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 40%;
  background-color: var(--mustard);
  padding: 20px;
  color: var(--dark);
}

aside .avatar {
  width: 100px;
  max-width: 100%;
  border-radius: 20%;
  border: solid 5px var(--dark);
}

aside img {
  width: 100%;
}


main {
  background-color: var(--dark);
}

main img {
  width: 600px;
  max-width: 100%;
  object-fit: cover;
}



/* @media screen and (max-width: 1000px) {
  .mobile-menu {
    display: flex;
  }
  .aside {
    display: none;
  }
  .main {
    width: 100vw;
  }
  
}

@media screen and (min-width: 1000px) {
 
  .aside {
    display: block;
    
    width: 30%;
  }
  .main {
    width: 70%;
  }
  
} */