@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --dark: HSL(300, 4%, 9%);
  --mustard: HSL(37, 100%, 63%);
  --pink: hsl(309, 50%, 34%);
  --blue: HSL(213, 58%, 34%);
  --light: HSL(46, 49%, 86%);
}

html {
  font-size: 100%;
  box-sizing: border-box;

}

*, *::before, *::after {
  /* border: solid 1px red; */
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

h1, h2, p, a{
  line-height: 2;
}

h2 {
  color: var(--mustard);
  font-size: 1.3rem;
}

li {
  list-style-type: none;
}

a, a:visited, a:active {
  text-decoration: none;
}

body {
  margin-inline: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--light);
}

.container {
  display: grid;
  grid-template-columns: 30% 70%;
}

aside {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--mustard);
  padding: 30px;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 40px;
}

aside .wrapper {
  max-width: 100%;
}


aside .avatar img {
  width: 100px;
  max-width: 100%;
  border-radius: 50%;
  border: solid 4px var(--dark);
  
}


aside h2 {
  color: var(--dark);
  margin-bottom: 10px;
}

aside .about .name {
  font-size: clamp(1rem, 1rem + 10vh, 2rem);
  font-weight: 600;
  color:#822b75;
}

aside .contacts img {
  display: flex;
  align-items: center;
  width: 30px;
  margin-right: 10px;
}

aside .contacts li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

aside .contacts li a {
  color: var(--dark);
}

aside .skills .skills-list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

aside .skills .skills-list li{
  border: solid 1px var(--dark);
  padding: 2px 4px;
  font-weight: 500;
  background-color: var(--dark);
  color:HSL(37, 100%, 63%);
}

main {
  background-color: var(--dark);
  text-align: center;
}

main .projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}


main .projects .project img {
  width: 800px;
  max-width: 100%;
  object-fit: cover;
}

main .projects .project h2 {
  padding: 20px 0;
}
main .project {
  margin-bottom: 200px;
}

main .projects .details {
  max-width: 60%;
  margin-inline: auto;
}

main .projects p {
  margin-bottom: 30px;
}

main .projects .links {
  display: flex;
  justify-content: space-evenly;
}

main .projects .links a{
  padding: 10px 20px;
  background-color: var(--dark);
  border: solid 2px var(--mustard);
  border-radius: 4px;
  color: var(--mustard);
}

main .projects .links a:hover{
  background-color: var(--mustard);
  border: solid 2px var(--mustard);
  border-radius: 4px;
  color: var(--dark);
  transition: 0.3s ease-in-out;
}


/* @media screen and (max-width: 1000px) {
  .mobile-menu {
    display: flex;
  }
  .aside {
    display: none;
  }
  .main {
    width: 100vw;
  }
  
}

@media screen and (min-width: 1000px) {
 
  .aside {
    display: block;
    
    width: 30%;
  }
  .main {
    width: 70%;
  }
  
} */