@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*--- reddit mono ---*/
@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    line-height: 1.7;
    min-height: 100vh;
    width: 100%;

    font-family: "Inter", sans-serif;
    @apply text-lg;
    @apply bg-slate-800 text-slate-50;
    @apply max-w-screen-xl mx-auto;
  }

  li {
    list-style: none;
  }

  a:active {
    color: red;
  }

  h1 {
    @apply text-4xl font-semibold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl;
  }

  p {
    @apply text-lg text-pretty;
  }

  li {
    color: red;
  }

  a.navlink:hover::before {
    content: "";
    width: 4px;
    position: absolute;
    left: -10px;
    bottom: 6px;
    top: 6px;
    background-color: theme(colors.slate[900]);
  }

  a.link:hover::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 4px;
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: theme(colors.slate[900]);
    animation: drawLineToRight 200ms;
    transition: animation 200ms ease-in-out;
  }

  a.navlink--active::before {
    content: "";
    width: 4px;
    position: absolute;
    left: -10px;
    bottom: 6px;
    top: 6px;
    background-color: theme(colors.slate[900]);
  }

  .title::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 4px;
    top: 32px;
    left: 0;
    right: 0;
    background-color: theme(colors.slate[900]);
  }

  .waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: var(--color);
    box-shadow: inset 0 0 50px rgba(62, 127, 212, 0);
    transition: 500ms;
  }

  .waves::before,
  .waves::after {
    content: "";
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -65vw;
    left: 50%;
    transform: translate(-50%, -75%);
  }

  .waves::before {
    border-radius: 44%;
    background: rgb(93, 77, 241);
    animation: waves 8s linear infinite;
  }

  .waves::after {
    border-radius: 44%;
    background: rgba(92, 189, 228, 0.5);
    animation: waves 15s linear infinite;
  }

  @keyframes waves {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }

  .slide {
    position: absolute;
    height: 100%;
    width: 100%;

    z-index: 1;
  }

  .slide.active {
    z-index: 2;
  }

  /* .slider-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
}

@layer utilities {
  .sectionWrapper {
    @apply w-full p-4 sm:p-12;
  }

  .boxShadow {
    box-shadow: -2px 11px 29px -11px rgba(0, 0, 0, 1);
  }
}
