@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*--- reddit mono ---*/
@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    line-height: 1.7;
    min-height: 100vh;
    width: 100%;

    font-family: "Inter", sans-serif;
    @apply text-lg;
    @apply bg-slate-800 text-slate-50;
    @apply max-w-screen-xl mx-auto;
  }

  li {
    list-style: none;
  }

  a:active {
    color: red;
  }

  h1 {
    @apply text-4xl font-semibold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl;
  }

  p {
    @apply text-lg text-pretty;
  }

  li {
    color: red;
  }

  a.navlink:hover::before {
    content: "";
    width: 4px;
    position: absolute;
    left: -10px;
    bottom: 6px;
    top: 6px;
    background-color: theme(colors.slate[900]);
  }

  a.link:hover::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 4px;
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: theme(colors.slate[900]);
    animation: drawLineToRight 200ms;
    transition: animation 200ms ease-in-out;
  }

  a.navlink--active::before {
    content: "";
    width: 4px;
    position: absolute;
    left: -10px;
    bottom: 6px;
    top: 6px;
    background-color: theme(colors.slate[900]);
  }

  .title::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 4px;
    top: 32px;
    left: 0;
    right: 0;
    background-color: theme(colors.slate[900]);
  }
}

@layer utilities {
  .sectionWrapper {
    @apply w-full mb-16 p-4 sm:p-12;
  }
}
